In [1]:
import pandas as pd

data = [[1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 3], [1, 2, 4], [2, 1, 5], [2, 1, 6]]
actor_director = pd.DataFrame(data, columns=['actor_id', 'director_id', 'timestamp']).astype({'actor_id':'int64', 'director_id':'int64', 'timestamp':'int64'})

actor_director

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [2]:
grouped = actor_director.groupby(['actor_id', 'director_id'])
grouped

In [3]:
for k, v in grouped:
    print(k)
    print(v)

(1, 1)
   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
(1, 2)
   actor_id  director_id  timestamp
3         1            2          3
4         1            2          4
(2, 1)
   actor_id  director_id  timestamp
5         2            1          5
6         2            1          6

In [4]:
grouped.count()

                      timestamp
actor_id director_id
1        1                    3
         2                    2
2        1                    2

In [5]:
grouped.count().reset_index()

   actor_id  director_id  timestamp
0         1            1          3
1         1            2          2
2         2            1          2

In [6]:
df = grouped.count().reset_index()
df.loc[df['timestamp'] >= 3, ['actor_id', 'director_id']]

   actor_id  director_id
0         1            1

In [7]:
df = grouped.size().reset_index()
df.loc[df[0] >= 3, ['actor_id', 'director_id']]

   actor_id  director_id
0         1            1

`size()` 比 `count()` 更快。