In [1]:
import pandas as pd

data = [['2020-05-30', 'Headphone'], ['2020-06-01', 'Pencil'], ['2020-06-02', 'Mask'], ['2020-05-30', 'Basketball'], ['2020-06-01', 'Bible'], ['2020-06-02', 'Mask'], ['2020-05-30', 'T-Shirt']]
activities = pd.DataFrame(data, columns=['sell_date', 'product']).astype({'sell_date':'datetime64[ns]', 'product':'object'})

activities

   sell_date     product
0 2020-05-30   Headphone
1 2020-06-01      Pencil
2 2020-06-02        Mask
3 2020-05-30  Basketball
4 2020-06-01       Bible
5 2020-06-02        Mask
6 2020-05-30     T-Shirt

In [3]:
grouped_activities = activities.groupby('sell_date')
for key, value in grouped_activities:
    print(key)
    print(value)

2020-05-30 00:00:00
   sell_date     product
0 2020-05-30   Headphone
3 2020-05-30  Basketball
6 2020-05-30     T-Shirt
2020-06-01 00:00:00
   sell_date product
1 2020-06-01  Pencil
4 2020-06-01   Bible
2020-06-02 00:00:00
   sell_date product
2 2020-06-02    Mask
5 2020-06-02    Mask

In [6]:
df = activities.groupby('sell_date')['product'].unique().reset_index()
df

   sell_date                           product
0 2020-05-30  [Headphone, Basketball, T-Shirt]
1 2020-06-01                   [Pencil, Bible]
2 2020-06-02                            [Mask]

In [7]:
df['products'] = df['product'].apply(lambda x:','.join(sorted(x)))
df

   sell_date                           product                      products
0 2020-05-30  [Headphone, Basketball, T-Shirt]  Basketball,Headphone,T-Shirt
1 2020-06-01                   [Pencil, Bible]                  Bible,Pencil
2 2020-06-02                            [Mask]                          Mask

In [11]:
df['num_sold'] = df['product'].apply(len)
df

,sell_date,product,products,num_sold
0,2020-05-30,"[Headphone, Basketball, T-Shirt]","Basketball,Headphone,T-Shirt",3
1,2020-06-01,"[Pencil, Bible]","Bible,Pencil",2
2,2020-06-02,[Mask],Mask,1

In [12]:
df[['sell_date','num_sold','products']]

   sell_date  num_sold                      products
0 2020-05-30         3  Basketball,Headphone,T-Shirt
1 2020-06-01         2                  Bible,Pencil
2 2020-06-02         1                          Mask

In [13]:
activities.groupby('sell_date')['product'].unique()

sell_date
2020-05-30    [Headphone, Basketball, T-Shirt]
2020-06-01                     [Pencil, Bible]
2020-06-02                              [Mask]
Name: product, dtype: object

In [14]:
activities.groupby('product')['sell_date'].unique()

product
Basketball    [2020-05-30 00:00:00]
Bible         [2020-06-01 00:00:00]
Headphone     [2020-05-30 00:00:00]
Mask          [2020-06-02 00:00:00]
Pencil        [2020-06-01 00:00:00]
T-Shirt       [2020-05-30 00:00:00]
Name: sell_date, dtype: object