In [1]:
import pandas as pd

data = [[1, 1], [2, 2], [3, 3], [4, 3]]
orders = pd.DataFrame(data, columns=['order_number', 'customer_number']).astype({'order_number':'Int64', 'customer_number':'Int64'})

orders

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3

In [19]:
orders.groupby('customer_number').count().reset_index().sort_values(by='order_number',ascending=False).head(1)[['customer_number']]

   customer_number
2                3

In [20]:
orders.groupby('customer_number').size().reset_index()

   customer_number  0
0                1  1
1                2  1
2                3  2

In [21]:
orders.groupby('customer_number').size()

customer_number
1    1
2    1
3    2
dtype: int64