In [1]:
import pandas as pd

data = [[1, 'a@b.com'], [2, 'c@d.com'], [3, 'a@b.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'Int64', 'email':'object'})

person

   id    email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

## 方法一：用 groupby() 和 size()

In [2]:
grouped = person.groupby('email').size().reset_index()
grouped

     email  0
0  a@b.com  2
1  c@d.com  1

In [3]:
grouped.loc[grouped[0]>1][['email']]

     email
0  a@b.com

In [4]:
df = person.groupby(by='email').size().reset_index(name='cnt')
df[df['cnt'] > 1][['email']].rename(columns={'email':'Email'})

     Email
0  a@b.com

## 方法二：先查重再去重

In [5]:
df = person[person.duplicated('email')]
df.email.drop_duplicates().to_frame()

     email
2  a@b.com

In [6]:
person.duplicated('email')

0    False
1    False
2     True
dtype: bool

In [7]:
person[person.duplicated('email')]

   id    email
2   3  a@b.com

In [8]:
person[person.duplicated('email')].email

2    a@b.com
Name: email, dtype: object

In [9]:
person[person.duplicated('email')].email.drop_duplicates()

2    a@b.com
Name: email, dtype: object

In [10]:
person[person.duplicated('email')].email.drop_duplicates().to_frame()

     email
2  a@b.com